<header>
    <nav class="main-navbar">
        <ul class="nav-ul">
            <li id="imageLi"><a routerLink=""><img src="assets/colleges/6.png"></a></li>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="aboutus">About Us</a></li>
            <li><a href="../colleges/colleges.html">Colleges</a></li>
            <li><a href="../contact-us/contact-us.html">Contact Us</a></li>
            <li id="login-btn"><a href="../login/login.html">logIn</a></li>
        </ul>
    </nav>
</header>

  <div class="home">
    <div class="text">
      <h1>the place where you find yourself and your passions</h1>

    </div>
  </div>

  <div class="unversity">
    <div class="aast unv ">
      <img src="assets/colleges/AAST.jpg" alt="">
      <div class="text">
        <p>Over more than 30 years, the AASTMT has had many achievements in education, training and research in the
          fields of maritime transport, engineering and management sciences. This is due to the methodological
          application of modern technology in these fields. The AASTMT was thus able to move from regionalism to
          internationalism. In 2007, the AASTMT was among the institutes that occupied the first six positions on the
          list of the ISO''s (International Organization for Standardization) international educational institutes who
          were to receive the Organization''s award for standard levels of higher education.</p>
        <button>Apply now</button>
      </div>
    </div>

    <div class="auc  unv ">
      <img src="assets/colleges/AUC.png" alt="">
      <div class="text">
        <p>Over more than 30 years, the AASTMT has had many achievements in education, training and research in the
          fields of maritime transport, engineering and management sciences. This is due to the methodological
          application of modern technology in these fields. The AASTMT was thus able to move from regionalism to
          internationalism. In 2007, the AASTMT was among the institutes that occupied the first six positions on the
          list of the ISO''s (International Organization for Standardization) international educational institutes who
          were to receive the Organization''s award for standard levels of higher education.</p>
        <button>Apply now</button>
      </div>
    </div>



    <div class="guc   unv">
      <img src="assets/colleges/GUC.jpeg" alt="">
      <div class="text">
        <p>Over more than 30 years, the AASTMT has had many achievements in education, training and research in the
          fields of maritime transport, engineering and management sciences. This is due to the methodological
          application of modern technology in these fields. The AASTMT was thus able to move from regionalism to
          internationalism. In 2007, the AASTMT was among the institutes that occupied the first six positions on the
          list of the ISO''s (International Organization for Standardization) international educational institutes who
          were to receive the Organization''s award for standard levels of higher education.</p>
        <button>Apply now</button>
      </div>
    </div>

    <div class="bue  unv">
      <img src="assets/colleges/BUE.jpeg" alt="">
      <div class="text">
        <p>Over more than 30 years, the AASTMT has had many achievements in education, training and research in the
          fields of maritime transport, engineering and management sciences. This is due to the methodological
          application of modern technology in these fields. The AASTMT was thus able to move from regionalism to
          internationalism. In 2007, the AASTMT was among the institutes that occupied the first six positions on the
          list of the ISO''s (International Organization for Standardization) international educational institutes who
          were to receive the Organization''s award for standard levels of higher education.</p>
        <button>Apply now</button>
      </div>
    </div>

    <div class="msa  unv">
      <img src="assets/colleges/MSA.jpeg" alt="">
      <div class="text">
        <p>Over more than 30 years, the AASTMT has had many achievements in education, training and research in the
          fields of maritime transport, engineering and management sciences. This is due to the methodological
          application of modern technology in these fields. The AASTMT was thus able to move from regionalism to
          internationalism. In 2007, the AASTMT was among the institutes that occupied the first six positions on the
          list of the ISO''s (International Organization for Standardization) international educational institutes who
          were to receive the Organization''s award for standard levels of higher education.</p>
        <button>Apply now</button>
      </div>
    </div>
    <div class="aast unv ">
      <img src="assets/colleges/AAST.jpg" alt="">
      <div class="text">
        <p>Over more than 30 years, the AASTMT has had many achievements in education, training and research in the
          fields of maritime transport, engineering and management sciences. This is due to the methodological
          application of modern technology in these fields. The AASTMT was thus able to move from regionalism to
          internationalism. In 2007, the AASTMT was among the institutes that occupied the first six positions on the
          list of the ISO''s (International Organization for Standardization) international educational institutes who
          were to receive the Organization''s award for standard levels of higher education.</p>
        <button>Apply now</button>
      </div>
    </div>
  </div>


  <div class="footer">
    <div class="first-section">
      <div class="footer-text">
        <h2>HAVE A QUESTION</h2>
      </div>
      <div class="footer-list">
        <ul>
          <li><a href="../home-page/home.html">Home</a></li>
          <li><a href="../about-us/aboutus.html">AboutUs</a></li>
          <li><a href="../colleges/colleges.html">Colleges</a></li>
          <li><a href="../contact-us/contact-us.html">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="second-section">
      <div class="footer-text">
        <h2>follow us</h2>
      </div>
      <div class="footer-list">
        <ul>
          <li><a href="https://www.facebook.com/"><img src="assets/imgFotter/facebook.png" alt=""></a></li>
          <li><a href="https://www.instagram.com/"><img src="assets/imgFotter/gmail.png" alt=""></a></li>
          <li><a href="https://www.instagram.com/"><img src="assets/imgFotter/instagram.png" alt=""></a></li>
        </ul>
      </div>
    </div>

  </div>