<header>
    <nav class="main-navbar">
        <ul class="nav-ul">
            <li id="imageLi"><a routerLink=""><img src="assets/colleges/6.png"></a></li>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="aboutus">About Us</a></li>
            <li><a routerLink="colleges">Colleges</a></li>
            <li><a routerLink="contactus">Contact Us</a></li>
            <li id="login-btn"><a routerLink="login">logIn</a></li>
        </ul>
    </nav>
</header>

  <div class="home">
    <div class="text">
      <h1>the place where you find yourself and your passions</h1>

    </div>
  </div>

  <div class="unversity">
    @for( col of colleges; track col.id){
      <div class="aast unv">
        <img [src]="col.id" alt="">
        <div class="text">
          <h5>{{ col.name }}</h5>
          <p>{{ col.address }}</p>
          <button>Apply now</button>
        </div>
      </div>
    }
  </div>


  <div class="footer">
    <div class="first-section">
      <div class="footer-text">
        <h2>HAVE A QUESTION</h2>
      </div>
      <div class="footer-list">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="aboutus">AboutUs</a></li>
          <li><a routerLink="colleges">Colleges</a></li>
          <li><a routerLink="contactus">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="second-section">
      <div class="footer-text">
        <h2>follow us</h2>
      </div>
      <div class="footer-list">
        <ul>
          <li><a href="https://www.facebook.com/"><img src="assets/imgFotter/facebook.png" alt=""></a></li>
          <li><a href="https://www.instagram.com/"><img src="assets/imgFotter/gmail.png" alt=""></a></li>
          <li><a href="https://www.instagram.com/"><img src="assets/imgFotter/instagram.png" alt=""></a></li>
        </ul>
      </div>
    </div>

  </div>