<header>
    <nav class="main-navbar">
        <ul class="nav-ul">
            <li id="imageLi"><a href="http://localhost:4200/"><img src="assets/colleges/6.png"></a></li>
            <li><a href="http://localhost:4200/">Home</a></li>
            <li><a href="http://localhost:4200/aboutus">About Us</a></li>
            <li><a href="http://localhost:4200/colleges">Colleges</a></li>
            <li><a href="http://localhost:4200/contactus">Contact Us</a></li>
            @if(IsLoggedIn){
              <li id="login-btn"><a href="http://localhost:4200/login">logIn</a></li>
            }@else {
              <li (onclick)="LogoutUser()"><a>logout</a></li>
            }
        </ul>
    </nav>
</header>

  <div class="home">
    <div class="text">
      <h1>the place where you find yourself and your passions</h1>

    </div>
  </div>

  <div class="unversity">
    @for( col of colleges; track col.Id){
      <div class="aast unv">
        <img [src]="col.Image" alt="">
        <div class="text">          
          <p>{{ col.Description }}</p>
          <button>Apply now</button>
        </div>
      </div>
    }
  </div>


  <div class="footer">
    <div class="first-section">
      <div class="footer-text">
        <h2>HAVE A QUESTION</h2>
      </div>
      <div class="footer-list">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="aboutus">AboutUs</a></li>
          <li><a routerLink="colleges">Colleges</a></li>
          <li><a routerLink="contactus">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="second-section">
      <div class="footer-text">
        <h2>follow us</h2>
      </div>
      <div class="footer-list">
        <ul>
          <li><a href="https://www.facebook.com/"><img src="assets/imgFotter/facebook.png" alt=""></a></li>
          <li><a href="https://www.instagram.com/"><img src="assets/imgFotter/gmail.png" alt=""></a></li>
          <li><a href="https://www.instagram.com/"><img src="assets/imgFotter/instagram.png" alt=""></a></li>
        </ul>
      </div>
    </div>

  </div>