<div class="wrapper">
    <header>
        <nav class="main-navbar d-flex justify-content-center align-items-center  ">
            <ul class="nav-ul">
                <li id="imageLi"><a href="http://localhost:4200/"><img src="assets/login/6.png"></a></li>
                <li><a href="http://localhost:4200/">Home</a></li>
                <li><a href="http://localhost:4200/aboutus">About Us</a></li>
                <li><a href="http://localhost:4200/colleges">Colleges</a></li>
                <li><a href="http://localhost:4200/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main class="login-container d-flex align-items-center justify-content-around" >
        <div class="row ">
            <div class="col imgCol">
                <img src="assets/login/girl.png" alt="Girl Image">
            </div>
            <div class="col-md-6 formCol ">
                <form class="d-flex flex-column" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <h3 class="headings">Welcome to EDu-connect</h3>
                    <br>
                    <h2 class="headings">Signup</h2>
                    <br><br>
                  
                    <div class="mb-2 input-1">
                      <input type="text" class="form-control" formControlName="username" placeholder="Username">
                      <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched" style="color:red;" class="error-message">
                        Username is required
                      </div>
                    </div>
                    <br>
                  
                    <div class="mb-2 input-1">
                      <input type="text" class="form-control" formControlName="email" placeholder="email">
                      <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" style="color:red;" class="error-message">
                        Please enter a valid email
                      </div>
                    </div>
                    <br>
                  
                    <div class="mb-3 input-1">
                      <input type="password" class="form-control" formControlName="password" placeholder="Password">
                      <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" style="color:red;" class="error-message">
                        Password is required (minimum 6 characters)
                      </div>
                    </div>
                    <br>
                  
                    <button type="submit" class="btn btn-danger w-25 m-auto" name="signup">Signup</button>
                    
                    <br><br>
                    <p id="server-error-messagee" style="color: red;">
                        {{ ErrorMessage }}
                    </p>
                    <br><br><br>
                    <span class="accCheck dontHave">Already have account <a routerLink="login">Login</a></span>
                  </form>                  
            </div>
        </div>
    </main>

</div>
<div class="footer">
    <div class="first-section">
      <div class="footer-text">
          <h2>HAVE A QUESTION</h2>
      </div>
      <div class="footer-list">
          <ul>
              <li><a routerLink="home">Home</a></li>
              <li><a href="../about-us/aboutus.html">AboutUs</a></li>
              <li><a href="../colleges/colleges.html">Colleges</a></li>
              <li><a href="../contact-us/contact-us.html">Contact</a></li>
          </ul>
      </div>
    </div>

      <div class="second-section">
          <div class="footer-text">
              <h2>follow us</h2>
          </div>
          <div class="footer-list">
            <ul>
              <li><a href="https://www.facebook.com/"><img src="assets/imgFotter/facebook.png" alt=""></a></li>
              <li><a href="https://www.instagram.com/"><img src="assets/imgFotter/gmail.png" alt=""></a></li>
              <li><a href="https://www.instagram.com/"><img src="assets/imgFotter/instagram.png" alt=""></a></li>
          </ul>
          </div>
  </div>

  </div>
